@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Inter:wght@400;500;600&family=New+Tegomin&family=Roboto&display=swap');

.navbarFont{
font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 14px;
letter-spacing: 1.5px;
}
.navbarFont:hover{
    color: #3f8efc;
    cursor: pointer;
}
.navbarFont:active{
    color: #3f8efc;
}
.nav-icon i:hover{
    color: #3f8efc;
    cursor: pointer;
}
.nav-icon i{
color: black;
}